@charset "UFT-8";
body {
    background-color: #fffeee;
}
h1 {
    color: #0bd;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
P {
    font-size: 20px;
}

article {
    font-family: "ヒラギノ明朝Pro", san-serif;
}

article p {
    color: blue; font-size: 20px
}
